{{> header }}
    <section class="page page-posts">
        <div class="container">
            <p class="info">Todos os posts</p>

            <ul class="post-list">
                {{#each articles }}
                <li class="post">
                    <a href="{{ path }}">
                        <p class="date">{{ date }}</p>
                        <h3 class="title">{{ title }}</h3>
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
    </section>
{{> footer }}